$ const { entry, manifest, types, scriptAttrs, styleAttrs } = input;
$ const assets = manifest.getAssets(entry, out.global.buildName);

<if(assets.js)>
  $ const nonce = out.global.cspNonce;
  <for|js| of=assets.js>
    <script src=(__webpack_public_path__+js) nonce=nonce ...scriptAttrs />
  </for>
</if>

<if(assets.css)>
  <for|css| of=assets.css>
    <link rel="stylesheet" href=(__webpack_public_path__+css) ...styleAttrs />
  </for>
</if>